<div class="rp-select-wrap">
<form>
{{#each slots}}
  <select class="js-select picker-select-{{@key}}">
  {{#each values}}
    <option value="{{@key}}">{{@key}}</option>
  {{/each}}
  </select>
{{/each}}
{{!--
  This blocks the selects from receiving touch events
  while allowing us to keep using the same styles.
  Using `disabled` would cause browsers to override
  the styles.
--}}
{{#if slotMachineCapable}}
<div class="rp-select-blocker needsclick">
</div>
{{/if}}
</form>
</div>

{{#if slotMachineCapable}}
<div class="rp-wrapper{{#if slotMachineOpen}} rp-wrapper-open{{/if}}">
  <div class="rp-slots-wrapper">
    <div class="rp-slots">
    {{#each slots}}
      <div class="rp-{{style}}">
        <ul class="picker-slot-{{@key}}">
          {{#each values}}
            <li>{{@key}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
    </div>
  </div>
  <div class="rp-frame needsclick"></div>
  </div>
</div>
{{/if}}
